/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif; /* mer lättläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  color: black;
  font-size: 30px;
  text-align: left;
  line-height: 1.2em;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
nav {
  background-color: #3b3b3b;
  padding: 30px;
  display: flex;
  
  font-size: 20px;
  font-weight: bold;
  
}

nav ul {
  
  list-style: none;
  display: flex;
  gap: 62px;
}
/* Navigeringslänkar */
nav a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
nav a:hover {
  background-color: #acacac40;
}

/* sökruta */
.search-bar-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  color:white;
}

.search-bar-container input {
  padding: 12px;
  border-radius: 4px;
}

.searchBtn {
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 4px;
  margin-left: 8px;
  color:white;
}

.searchBtn:hover  {
  background-color: #8d0801;
}

/* ändrar så det ser ut som knappar */
article a {
  color: black ;
  text-decoration: none;
  padding: 8px 32px;
  background-color: lightsteelblue;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
}


/* En behållare med mittjusterad text och en blå transparent bakgrund */
.container {
  width: 100%;
  margin: auto;
  border: 10px solid pink;
  background-color: rgba(0, 0, 255, 0.2);
  text-align: center;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  border-bottom: 10px dotted orange;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background: radial-gradient(circle, black, transparent);
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 80px;
  font-weight: lighter;
  color: #8d0801;
  text-align: right;
  margin: 50px;
  padding: 20px;
}


/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}


/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}


.lunar-new-year-news {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}