/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif; /* mer lättläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  color: black;
  font-size: 30px;
  text-align: left;
  line-height: 1.2em;
  text-align: center;
}


/* Navigeringsmeny + sökruta*/
nav {
  background-color: #3b3b3b;
  padding: 30px;
  display: flex;
  
  font-size: 20px;
  font-weight: bold;
  
}

nav ul {
  
  list-style: none;
  display: flex;
  gap: 62px;
}
/* Navigeringslänkar */
nav a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #acacac40;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  color:white;
}

.search-bar-container input {
  padding: 12px;
  border-radius: 4px;
}

.searchBtn {
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 4px;
  margin-left: 8px;
  color:white;
}

.searchBtn:hover  {
  background-color: #8d0801;
}


/* Sektioner med extra padding för att skapa utrymme mellan innehållsblocken */
section {
  padding: 120px 0;
}

.page-title {
  background-color: #8d0801;
  color: white;
  padding: 50px;
  text-align: center;
}

.breaking-news {
  background-color: #acacac40;
  color: black;
  padding: 120px 240px;
  text-align: center;
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 80px;
  font-weight: lighter;
  color: #8d0801;
  text-align: center;
  margin: 50px;
  padding: 20px;
  font-weight: bold;
}

.breaking-news p {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 20px;
}

.lunar-new-year-news {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}
/* ändrar så det ser ut som knappar */
article a {
  color: black ;
  text-decoration: none;
  padding: 8px 32px;
  background-color: lightsteelblue;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 24px;
  font-weight: bold;
}



/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}


