/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif; /* mer lättläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  color: black;
  font-size: 16px;
  text-align: left;
  line-height: 1.2em;
  text-align: center;
}


/* Navigeringsmeny + sökruta*/
nav {
  background-color: #3b3b3b;
  padding: 2rem;
  display: flex;
  
  font-size: 1.25rem;
  font-weight: bold;
  
}

nav ul {
  
  list-style: none;
  display: flex;
  gap: 3.875rem;
}
/* Navigeringslänkar */
nav a {
  color: #ffffff;
  padding: 0.625rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #acacac40;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  color:white;
  position: relative;
}

.search-bar-container input {
  padding: 0.75rem;
  padding-left: 3rem; 
  border-radius: 4px;
}

.searchBtn {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  margin-left: 0.5rem;
  color:black;
}

.searchBtn:hover  {
  background-color: #8d0801;
  color: white;
}
i {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  color: black;
  padding: 0.625rem 0;
}

.search-input-wrapper input {
  padding: 0.75rem;
  padding-left: 2.5rem; 
  border-radius: 4px;
}

/* Sektioner med extra padding för att skapa utrymme mellan innehållsblocken */
section {
  padding: 7.5rem 0;
}

.page-title {
  background-color: #8d0801;
  color: white;
  padding: 3.125rem;
  text-align: center;
}

.breaking-news {
  background-color: #acacac40;
  color: black;
  padding: 5rem 6.25rem;
  text-align: center;
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 5rem;
  color: #8d0801;
  text-align: center;
  margin: 3.125rem;
  padding: 1.25rem;
  font-weight: bold;
}

.breaking-news p {
  font-size: 1.25rem;
  color: black;
  text-align: center;
  margin-bottom: 4rem;
}

.lunar-new-year-news {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

h2 {
  padding-bottom: 3rem;
  font-size: 3rem;
}

/* ändrar så det ser ut som knappar */
article a {
  color: black ;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: lightsteelblue;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

.default-article {
padding: 5rem;
}

article button {
   color: black ;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: lightsteelblue;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  border: 0;
}

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 18.75rem;
  height: 25rem;
  object-fit: cover;
}



footer {
  background-color: #3b3b3b;
  color: white;
  text-align: center;
  padding: 5rem;
}

footer h3 {
  font-size: 2rem;
  padding: 2rem 2rem 3.5rem 2rem;
}

/*tablet/mobile */
@media (max-width: 1200px) {

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0;
  }

  .search-bar-container {
    margin: 3rem 0;
    width: 60%;
    align-self: center;
  }

  .search-bar-container input {
    width: 80%;
  }

  .searchBtn {
    width: 30%;
  
  }
  .headline {
    font-size: 2.5rem;
    padding: 1.25rem;
  }
  .breaking-news {
    padding: 3.75rem 1.24rem;
  }
  
  .lunar-new-year-news {
    margin-bottom: 2rem;
  }
  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  footer h3 {
    font-size: 1.5rem;
  }
}